<% post = Post.find(comment.post_id) %>
<div class="comment">
	<% unless comment.linkUrl == "" %>
		<a href="<%= comment.linkUrl %>" target="_blank" title="<%= comment.linkText %>" class="content-link"> <%= comment.linkText %> </a>
	<% end %>
	<p class="comment-content"><%= comment.content.gsub(/\n/, '<br/>').html_safe %></p>
	<p class="comment-posted-by"><%= signature_string(comment.user.username, comment.created_at, comment.updated_at) %></p>
	<div class="links">
		<% if comment.user_id == current_user.id %>
			<%= link_to "Bearbeiten", edit_topic_post_comment_path(post.topic, post, comment), class: "btn btn-default" %>
		<% end %>
		<% if comment.user_id == current_user.id || current_user.rights == 2 %>
			<%= link_to "Löschen", topic_post_comment_path(post.topic, post, comment), class: "btn btn-default", method: :delete, data: { confirm: "Möchten Sie den Kommentar? wirklich löschen?" } %>
		<% end %>
	</div>
</div>

