<% post = Post.find(comment.post_id) %>

	<% if user_signed_in? && comment.user_id == current_user.id %>
		<%=  best_in_place [post.topic, post, comment], :content, :type => :textarea, :activator => "#comment-desc-#{post.id}-#{comment.id}", :ok_button => "Speichern", :ok_button_class => "btn btn-default", :cancel_button => "Abbrechen", :cancel_button_class => "btn btn-default" %>
		
			<div class="links">
			<%= button_to "Bearbeiten", "#", class: "btn btn-default", id: "comment-desc-#{post.id}-#{comment.id}", onClick: "disableButton(\"comment-desc-#{post.id}-#{comment.id}\")" %>
			<%= button_to "Löschen", topic_post_comment_path(post.topic, post, comment), class: "btn btn-default", method: :delete, data: { confirm: "Möchten Sie den Kommentar? wirklich löschen?" } %>
			</div>
	<% else %>
		<p><%= comment.content %></p>
	<% end %>
<p><%= signature_string(comment.user.username, comment.created_at, comment.updated_at) %>
</p>