<% new_id = "edit-comment-#{@post.id}" %>
<h2 class="hCenter">Kommentar bearbeiten</h2>

<div class="edit_topic">
	<%= simple_form_for([@topic, @post, @comment]) do |f| %>
		<%= f.input :content, label: "Kommentar", input_html: { id: new_id } %>
		<%= f.input :linkUrl, input_html: { id: new_id + "-lurl" } %>
		<%= f.input :linkText, input_html: { id: new_id + "-ltext" } %>
		<%= f.button :submit, value: "Speichern", class: "btn-special" %>
		<%= button_to "Abbrechen", :back, class: "btn btn-default btn-special" %>
	<% end %>
</div>