<% unless @own_topics.empty? %>
	<section class="container">
		<h1>Erstellte Themen</h1>
		<% @own_topics.each do |topic| %>
			<div class="col-md-4">
				<%= link_to topic_path(topic) do %>
					<div class="topic">
						<p class="topic-author"><%= topic.user.username %></p>
						<h2 class="topic-title"><%= topic.title %></h2>
						<% if count_new_posts_and_comments(topic) == 1 %>
						<p class="topic-author"><%= count_new_posts_and_comments(topic) %> neuer Beitrag</p>
						<% else %>
						<p class="topic-author"><%= count_new_posts_and_comments(topic) %> neue Beiträge</p>
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</section>
<% end %>

<% unless @related_topics.empty? %>
	<section class="container">
		<h1>Themen</h1>
		<% @related_topics.each do |topic| %>
			<div class="col-md-4">
				<%= link_to topic_path(topic) do %>
					<div class="topic">
						<p class="topic-author"><%= topic.user.username %></p>
						<h2 class="topic-title"><%= topic.title %></h2>
						<% if count_new_posts_and_comments(topic) == 1 %>
						<p class="topic-author"><%= count_new_posts_and_comments(topic) %> neuer Beitrag</p>
						<% else %>
						<p class="topic-author"><%= count_new_posts_and_comments(topic) %> neue Beiträge</p>
						<% end %>
					</div>
				<%end%>
			</div>
		<% end %>
	</section>
<% end %>

<% if @own_topics.empty? && @related_topics.empty? %>
	<section class="container">
		<h1>Themen</h1>
		<i>Niemand interessiert sich für deine Meinung - du bist zu keinem Thema eingeladen.</i>
	</section>
<% end %>