<div class="container manage_users">
	<div class="headline">
		<%= link_to topic_path, class: "btn btn-default" do %>
			<span class="glyphicon glyphicon-arrow-left"></span>
		<% end %>
		<h2 class="center"><%= @topic.title %></h2>
	</div>
	<div class="active_users">
		<h3 class="center">Aktive Benutzer</h3>
		<table>
		<% @related_users.each do |user| %>
			<tr>
				<td><p><%= user.username %> <i>"<%= user.expertise %>"</i></p></td>
				<td  class="right"><%= link_to "Entfernen", disinvite_user_path(user_id: user.id), method: :post, class: "btn btn-default" %></td>
			</tr>
			
		<% end %>
		</table>

		<% if @related_users.empty? %>
			<i class="center">Keine Benutzer hinzugefügt</i>
		<% end %>
	</div>

	<div class="invite_users">
		<h3 class="center">Benutzer einladen</h3>
		
				<%= form_tag("manage_users", method: :get, id: "search-form") do %>
						<%= text_field_tag :search, params[:search], placeholder: "Thema/Username/Email" %>
						<%= button_tag(type: "submit", class: "btn btn-default") do%>
							<span class="glyphicon glyphicon-search"></span>
						<% end %>
				<% end %>
			

				<% if !@filtered_users.empty? %>
				<%= link_to "Alle einladen", invite_all_filtered_users_path(filtered_users: @filtered_users), method: :post, class: "btn btn-default" %>
				<% else %>
					<i class="center" id="no_user">Kein passender Benutzer gefunden</i>
				<% end %>


		<table>	
				<% @filtered_users.each do |user| %>
					<tr>
						<td><p><%= user.username %> <i>"<%= user.expertise %>"</i></p></td>
						<td class="right"><%= link_to "Einladen", invite_user_path(user_id: user.id), method: :post, class: "btn btn-default" %></td>
					</tr>
				<% end %>
			
		</table>
	</div>
</div>