<h2><%= @topic.title %></h2>

<h3>Hinzugef端gte User</h3>
<% @related_users.each do |user| %>
	<p><%= user.username %></p>
<% end %>

<h3>User hinzuf端gen</h3>
<%= form_tag("manage_users", method: :get, id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Username/Email" %>
	<%= submit_tag "Search", value: "Suchen", class: "btn btn-default" %>
<% end %>
<% @filtered_users.each do |user| %>
	<p><%= user.username %></p>
	<%= link_to "Hinzuf端gen", invite_user_path(user_id: user.id), method: :post, class: "btn btn-default" %>
<% end %>

<%= link_to "Zur端ck", topic_path, class: "btn btn-default" %>