<div class="container chat">
	<div class="topic-show-head">
		<h2 class="topic-show-title"><%= @topic.title %></h2>
		<p class="topic-posted-by">Verfasst von <%= @topic.user.email %> am <%= time_string(@topic.created_at) %>.</p>
	</div>

	<div class="topic-desc"><%= @topic.description %></div>


	<div class="topic-show">
		<h3>Beiträge:</h3>
		<%= render @topic.posts %>

		<h3 class="reply-to-msg">Beitrag hinzufügen:</h3>
		<%= render 'posts/form' %>

		<div class="links-btn-group">

			<%= link_to "Zurück", topics_path, class: "btn btn-default" %>
			<% if current_user.admin || user_signed_in? && @topic.user_id == current_user.id %>
				<%= link_to "Bearbeiten", edit_topic_path(@topic), class: "btn btn-default" %>
				<%= link_to "Löschen", topic_path(@topic), class: "btn btn-default", method: :delete, data: { confirm: "Möchten Sie das Thema wirklich löschen?" } %>
			<% end %>
		</div>
	</div>
	</div>
