<div class="container chat">
	<div class="topic-show-head" onclick="show('topic-description')">

		<div id="icons">
			<div id="icons_left">
				<!-- Zurück -->
				<%= link_to topics_path, class: "btn btn-default" do %>
					<span class="glyphicon glyphicon-arrow-left"></span>
				<% end %>

				<!-- Zurück -->
				<%= link_to topics_path, class: "btn btn-default no_display" do %>
					<span class="glyphicon glyphicon-arrow-left"></span>
				<% end %>

				<!-- Zurück -->
				<%= link_to topics_path, class: "btn btn-default no_display" do %>
					<span class="glyphicon glyphicon-arrow-left"></span>
				<% end %>
			</div>

			<div id="icons_right">
				<!-- Thema verlassen -->

				<!-- Benutzer verwalten -->
				<% if current_user.admin || @topic.user_id == current_user.id %>
					<%= link_to manage_users_path, class: "btn btn-default" do %>
						<span class="glyphicon glyphicon-cog"></span>
					<% end %>
				<% end %>

				<!-- Bearbeiten -->
				<% if current_user.admin || @topic.user_id == current_user.id %>
					<%= link_to edit_topic_path(@topic), class: "btn btn-default" do %>
						<span class="glyphicon glyphicon-pencil"></span>
					<% end %>
				<% end %>

				<!-- Löschen -->
				<% if current_user.admin || @topic.user_id == current_user.id %>
					<%= link_to topic_path(@topic), class: "btn btn-default", method: :delete, data: { confirm: "Möchten Sie das Thema wirklich löschen?" } do %>
						<span class="glyphicon glyphicon-remove"></span>
					<% end %>
				<% end %>
			</div>

			<p class="topic-posted-by"><%= @topic.user.username %></p>

		</div>

		
		<h2 class="topic-show-title">
			<%= @topic.title %>
		</h2>
		<p class="topic-posted-at"><%= time_string(@topic.created_at) %></p>
		<div class="topic-desc" id="topic-description">
			<p><%= @topic.description.gsub(/\n/, '<br/>').html_safe %></p>
		</div>
	</div>

	<div class="topic-desc" id="topic-description">
	<p><%= @topic.description.gsub(/\n/, '<br/>').html_safe %></p>
		<% if current_user.admin || @topic.user_id == current_user.id %>
			<%= link_to "Bearbeiten", edit_topic_path(@topic), class: "btn btn-default" %>
		<% end %>

		<% if current_user.admin || @topic.user_id == current_user.id %>
			<%= link_to "Benutzer verwalten", manage_users_path, class: "btn btn-default" %>
		<% end %>
	</div>
	<div class="topic-show">
	
		<div id="posts">
			<% @posts.each do |post| %>
			<div class="onePost">
				<%= render post %>

				<div class = "comments" id="<%=post.id%>">

					<h4 id="<%=post.id%>" onclick="showComments('all_comments', this.id)">Kommentare</h4>
					<div class="all_comments">
						<%= render post.comments %>

						<% @post = post %>
						<%= render 'comments/form' %>
					</div>
				</div>

			</div>

			<% end %>
		</div>

		<div class="reply-to-msg">
			<h3>Beitrag hinzufügen:</h3>
			<%= render 'posts/form' %>
		</div>
	</div>
</div>

