<!--% if current_user == @topic.user || current_user.admin? || @topic.users.include?(current_user) %-->
<div class="col-md-8 col-md-offset-2">
	<div class="topic-show">
		<h2><%= @topic.title %></h2>
		<p class="topic-posted-by">Verfasst von <%= @topic.user.username %> am <%= time_string(@topic.created_at) %>.</p>

		<% if current_user.admin || @topic.user_id == current_user.id %>
			<%= link_to "Benutzer verwalten", manage_users_path, class: "btn btn-default" %>
		<% end %>
		
		<p class="topic-desc"><%= @topic.description %></p>

		<h3>Beiträge:</h3>
		<% @posts.each do |post| %>
			<%= render post %>

			<h4>Kommentare:</h4>
			<%= render post.comments %>

			<h4>Beitrag kommentieren</h4>
			<% @post = post %>
			<%= render 'comments/form' %>

		<% end %>

		<h3 class="reply-to-msg">Beitrag hinzufügen:</h3>
		<%= render 'posts/form' %>

		<div class="links-btn-group">

			<%= link_to "Zurück", topics_path, class: "btn btn-default" %>
			<% if current_user.admin || @topic.user_id == current_user.id %>
				<%= link_to "Bearbeiten", edit_topic_path(@topic), class: "btn btn-default" %>
				<%= link_to "Löschen", topic_path(@topic), class: "btn btn-default", method: :delete, data: { confirm: "Möchten Sie das Thema wirklich löschen?" } %>
			<% end %>
		</div>
	</div>
</div>
<!--% end %-->
