<%= form_tag("rights", method: :get, id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Thema/Username/Email" %>
		<%= button_tag(type: "submit", class: "btn btn-default") do%>
			<span class="glyphicon glyphicon-search"></span>
		<% end %>
<% end %>
<% @users.each do |user| %>

	<tr>
		<td><p><%= user.username %> <%= user.email %> <%= user.rights %></p></td>
		

		<%= form_for user, url: edit_rights_path do |f| %>
			<%= f.select :rights, options_for_select(@rights, :selected => params[:rights]) %>
			<%= f.submit %>
		<% end %>
	</tr>
			
	
<% end %>