<% new_id = "new-post-#{@topic.id}" %>
<%= simple_form_for([@topic, @topic.posts.build]) do |f| %> 
	<%= f.input :content, label: "Beitrag", input_html: { id: new_id } %>
	<%= f.input :linkUrl, input_html: { id: new_id + "-lurl" }, as: :hidden %>
	<%= f.input :linkText, input_html: { id: new_id + "-ltext" }, as: :hidden %>
	<%= f.input :imageUrl, input_html: { id: new_id + "-iurl" }, as: :hidden %>
	<span onClick="appendImage('<%= new_id %>')" class="glyphicon glyphicon-picture glyphicon-form" title="Bild anhägen"></span>
	<div class="text_icons">
		<%= render 'layouts/text_decoration', id: new_id %>
	</div>
	<%= f.button :submit, label: "Beitrag absenden", :class => 'btn-default', :value => "Beitrag absenden" %>
<% end %>