<% new_id = "new-post-#{@topic.id}" %>
<%= simple_form_for([@topic, @topic.posts.build]) do |f| %> 
	<%= f.input :content, label: "Beitrag", input_html: { id: new_id } %>
	<span onClick="appendImage('<%= new_id %>')" class="glyphicon glyphicon-picture glyphicon-form"></span>
	<span onClick="appendLink('<%= new_id %>')" class="glyphicon glyphicon-link glyphicon-form"></span>
	<%= f.button :submit, "Beitrag absenden", :class => 'btn-default'%>
<% end %>