<div class="comment">
	<p class="comment-content"><%= post.content %></p>
	<p class="comment-posted-by"> Verfasst von <%= post.user.email %> am <%= time_string(post.created_at) %>.</p>

	<div class="links">
		<% if user_signed_in? && post.user_id == current_user.id %>
			<%= link_to "Bearbeiten", edit_topic_post_path(post.topic, post), class: "btn btn-default" %>
			<%= link_to "Löschen", topic_post_path(post.topic, post), class: "btn btn-default", method: :delete, data: { confirm: "Möchten Sie den Beitrag wirklich löschen?" } %>
		<% end %>
	</div>

</div>