<div class="post">
	<% unless post.imageUrl == "" %>
		<img src="<%= post.imageUrl %>" class="postImage"/>
	<% end %>
	<% unless post.linkUrl == "" %>
		<a href="<%= post.linkUrl %>" target="_blank" title="<%= post.linkText %>" class="content-link"> <%= post.linkText %> </a>
	<% end %>
	<p class="post-content"><%= post.content.gsub(/\n/, '<br/>').html_safe %></p>
	<p class="post-posted-by"> <%= signature_string(post.user.username, post.created_at, post.updated_at) %></p>
	<% if current_user.rights == 2 || post.user_id == current_user.id %>
		<div class="links">
			<%= link_to edit_topic_post_path(post.topic, post), class: "btn btn-default", title: "Bearbeiten" do %>
						<span class="glyphicon glyphicon-pencil"></span>
					<% end %>

			<%= link_to topic_post_path(post.topic, post), class: "btn btn-default", method: :delete, title: "Thema löschen", data: { confirm: "Möchten Sie das Thema wirklich löschen?" } do %>
				<span class="glyphicon glyphicon-remove"></span>
			<% end %>
		</div>
	<% end %>
</div>