<span onClick="appendImage('<%= id %>')" class="glyphicon glyphicon-picture glyphicon-form" title="Bild einfügen"></span>
<span onClick="appendLink('<%= id %>')" class="glyphicon glyphicon-link glyphicon-form" title="Link einfügen"></span>
<!--pan onClick="appendBoldText('<%= id %>')" class="glyphicon glyphicon-bold glyphicon-form" title="Fettgeschriebenen Text einfügen"></span>
<span onClick="appendItalicText('<%= id %>')" class="glyphicon glyphicon-italic glyphicon-form" title="Kursiven Text einfügen"></span>
<span onClick="appendColoredText('<%= id %>')" class="glyphicon glyphicon-pencil glyphicon-form" title="Kursiven Text einfügen"></span-->