<!DOCTYPE html>
<html>
<head>
  <title>Krautsalat</title>
  <%= stylesheet_link_tag    'application', media: 'screen, projection', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'print', media: 'print', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body>

		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<%= link_to "Krautsalat", root_path, class:"navbar-brand"%>
				</div>
				<ul class="nav navbar-nav">
				<% unless user_signed_in? %>
					<li><%= link_to "Registrieren", new_user_registration_path %></li>
				<% end %>
				<% if user_signed_in? %>
					<li><%= link_to "Ausloggen", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Login", new_user_session_path %></li>
				<% end %>
				<% if user_signed_in? && current_user.rights == 2 %>
					<li><%= link_to "Rechte verwalten", rights_path %></li>
				<% end %>
				</ul>
				<% if user_signed_in? && current_user.rights >= 1 %>
					<%= link_to "Neues Thema", new_topic_path, class:"navbar-right navbar-text navbar-link" %>
				<% end %>
			</div>
		</nav>

		<p class="notice"><%= notice %></p>
	    <p class="alert"><%= alert %></p>

	    
			<%= yield %>
	

	</body>
</html>